<div class="setup-wrapper">
  <div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Utwórz import
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-import-setup (importCreated)="onImportCreated($event)"></app-import-setup>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <ng-template [ngIf]="userService.isAuthenticated()">
    <h3 class="mat-h3">Utworzone importy</h3>
    <div class="mat-elevation-z2">
      <div class="loadingWrapper">
        <!--        <div class="loadingOverlay" *ngIf="dataSource.loading$ | async">-->
        <!--          <mat-spinner class="loadingSpinner"></mat-spinner>-->
        <!--        </div>-->
        <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc"
               matSortDisableClear>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="dataSourceType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Źródło danych</th>
            <td mat-cell *matCellDef="let element">{{ element.dataSourceName }}</td>
          </ng-container>

          <ng-container matColumnDef="programmeCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Program kod</th>
            <td mat-cell *matCellDef="let element">{{ element.programmeCode }}</td>
          </ng-container>

          <ng-container matColumnDef="programmeForeignName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Program nazwa</th>
            <td mat-cell *matCellDef="let element">{{ element.programmeForeignName }}</td>
          </ng-container>

          <ng-container matColumnDef="stageCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Etap</th>
            <td mat-cell *matCellDef="let element">{{ element.stageCode }}</td>
          </ng-container>

          <ng-container matColumnDef="registration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rekrutacja</th>
            <td mat-cell *matCellDef="let element">{{ element.registration }}</td>
          </ng-container>

          <ng-container matColumnDef="indexPoolCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pula indeksów</th>
            <td mat-cell *matCellDef="let element">{{ element.indexPoolCode }}</td>
          </ng-container>

          <ng-container matColumnDef="indexPoolName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Pula indeksów</th>
            <td mat-cell *matCellDef="let element">{{ element.indexPoolName }}</td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data rozpoczęcia programu</th>
            <td mat-cell *matCellDef="let element">{{ element.startDate | date:'dd.MM.yyyy' }}</td>
          </ng-container>

          <ng-container matColumnDef="dateOfAddmision">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data przyjęcia na program</th>
            <td mat-cell *matCellDef="let element">{{ element.dateOfAddmision | date:'dd.MM.yyyy' }}</td>
          </ng-container>

          <ng-container matColumnDef="didacticCycleCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Kod cyklu dydaktycznego</th>
            <td mat-cell *matCellDef="let element">{{ element.didacticCycleCode }}</td>
          </ng-container>

          <ng-container matColumnDef="countTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>W sumie</th>
            <td mat-cell *matCellDef="let element">{{ element.totalCount }}</td>
          </ng-container>

          <ng-container matColumnDef="countImported">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Zaimportowane</th>
            <td mat-cell *matCellDef="let element">{{ element.importedApplications }}</td>
          </ng-container>

          <ng-container matColumnDef="countSaved">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Zapisane</th>
            <td mat-cell *matCellDef="let element">{{ element.savedApplicants }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              <app-import-status-indicator [importStatus]="element.importStatus"
                                           [tooltip]="false"></app-import-status-indicator>
            </td>
          </ng-container>

          <ng-container matColumnDef="deleteImport">
            <th mat-header-cell *matHeaderCellDef> Usuń</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="onDeleteImportClick(element)" [disabled]="isDeleteButtonDisabled(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="selectImport">
            <th mat-header-cell *matHeaderCellDef> Wybierz</th>
            <td mat-cell *matCellDef="let element">
              <a mat-stroked-button [routerLink]="['/import', element.id]">
                <mat-icon>arrow_right_alt</mat-icon>
                Wybierz
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
          <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                       [length]="dataSource.page?.totalElements"
                       [pageSize]="dataSource.page?.size"
                       showFirstLastButtons
                       [pageIndex]="dataSource.page?.number">
        </mat-paginator>
      </div>
    </div>
  </ng-template>
</div>
