<div class="container">
  <form [formGroup]="addUserFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Podaj UID (NIU)</mat-label>
      <input type="text" matInput formControlName="uid" required="true">
    </mat-form-field>
    @if (rolesList) {
      <mat-selection-list #roleSelectionList>
        @for (role of rolesList; track role) {
          <mat-list-option class="item" [value]="role">
            {{ role.name }}
          </mat-list-option>
        }
      </mat-selection-list>
    }
    <button mat-button type="submit" [disabled]="!addUserFormGroup.valid || isButtonDisabled">
      <mat-icon>add</mat-icon>
      Dodaj
    </button>
  </form>
</div>
