<mat-horizontal-stepper linear>
  <mat-step [stepControl]="selectSearchMethodFormGroup">
    <form [formGroup]="selectSearchMethodFormGroup">
      <ng-template matStepLabel>Wybierz sposób wyszukiwania</ng-template>
      <mat-form-field>
        <mat-label>Sposób wyszukiwania</mat-label>
        <mat-select formControlName="searchMethod">
          <mat-option value="pesel">
            PESEL
          </mat-option>
          <mat-option value="surname">
            Nazwisko
          </mat-option>
          <mat-option value="email">
            E-Mail
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="inputDataFormGroup">
    <form [formGroup]="inputDataFormGroup" (ngSubmit)="inputDataOnSubmit()">
      <ng-template matStepLabel>Podaj Wartość</ng-template>
      <mat-form-field>
        <mat-label>Wartość</mat-label>
        <input matInput formControlName="input">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Wybierz aplikanta</ng-template>
    <div *ngIf="applicants">
      <mat-card *ngFor="let applicant of applicants">
        <div *ngIf="applicant.image$ | async as image">
          <img mat-card-image [src]="image">
        </div>
        <mat-card-title>{{applicant.name.given}} {{applicant.name.family}}</mat-card-title>
        <mat-card-subtitle>{{applicant.email}} </mat-card-subtitle>
        <mat-card-actions><a mat-button routerLink="/applicant/{{applicant.id}}">Szczegóły</a></mat-card-actions>
      </mat-card>
    </div>
  </mat-step>
</mat-horizontal-stepper>