<div *ngIf="applicant">
  <mat-card>
    <div *ngIf="applicant.photo">
      <div *ngIf="applicantService.getPhoto(applicant.photo) | async as photo">
        <mat-card-subtitle>test</mat-card-subtitle>
        <img mat-card-image src={{photo}} alt="">
      </div>
    </div>
    <div>

    </div>
    <mat-card-title>{{applicant.given}} {{applicant.middle}} {{applicant.maiden}} {{applicant.family}}</mat-card-title>
    <mat-card-subtitle>{{applicant.email}} </mat-card-subtitle>
    <mat-card-content>
      <p>Numer telefonu: {{applicant.phone}}</p>
      <p>Obywatelstwo: {{applicant.citizenship}}</p>
      <p>Data ostatniej modyfikacji: {{applicant.modification_date}}</p>
      <mat-expansion-panel [disabled]="!applicant">
        <mat-expansion-panel-header>
          <mat-panel-title>Dane podstawowe</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-list>
            <mat-list-item> Płeć: {{applicant.sex}}</mat-list-item>
            <mat-list-item> PESEL: {{applicant.pesel}}</mat-list-item>
            <mat-list-item> Data urodzenia: {{applicant.dateOfBirth}}</mat-list-item>
            <mat-list-item> Miasto urodzenia: {{applicant.cityOfBirth}}</mat-list-item>
            <mat-list-item> Kraj urodzenia: {{applicant.countryOfBirth}}</mat-list-item>
            <mat-list-item> Źródło danych: {{applicant.dataSource}}</mat-list-item>
          </mat-list>
        </ng-template>
      </mat-expansion-panel>
    </mat-card-content>
    <mat-card-actions></mat-card-actions>
  </mat-card>
</div>
