<div *ngIf="page">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortEvent($event)">

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </th>
      <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="secondName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  Drugie imię </th>
      <td mat-cell *matCellDef="let element"> {{element.secondName}} </td>
    </ng-container>

    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Płeć </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.sex == 'M'; else elseBlock">mężczyzna</span>
        <ng-template #elseBlock>kobieta</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="pesel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PESEL </th>
      <td mat-cell *matCellDef="let element"> {{element.pesel}} </td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef > Data urodzenia </th>
      <td mat-cell *matCellDef="let element">  {{element.birthDate | date:'dd.MM.yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="birthCity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Miejsce Urodzenia </th>
      <td mat-cell *matCellDef="let element"> {{element.birthCity}} </td>
    </ng-container>

    <ng-container matColumnDef="birthCountry">
      <th mat-header-cell *matHeaderCellDef > Kraj urodzenia </th>
      <td mat-cell *matCellDef="let element">  {{element.birthCountry}} </td>
    </ng-container>

    <ng-container matColumnDef="organizationalUnit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Jednostka osoby </th>
      <td mat-cell *matCellDef="let element"> {{element.organizationalUnit}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                 [length]="page.totalElements"
                 [pageSize]="page.size"
                 showFirstLastButtons
                 (page)="switchPage($event)">
  </mat-paginator>

</div>
