<ng-template [ngIf]="userService.isAuthenticated">
  <ng-template [ngIf]="import && rxStompService.connected()">
    <header *ngIf="import" class="card-wrapper">
      <mat-card appearance="outlined" class="card-centered">
        <mat-card-title>
          <p>Import rekrutacji {{ import.registration }}</p>
        </mat-card-title>
        <mat-card-subtitle>
          <p>Kod programu: {{ import.programmeCode }}</p>
          <p>Kod etapu: {{ import.stageCode }}</p>
          <p>Kod cyklu dydaktycznego: {{ import.didacticCycleCode }}</p>
          <p>Kod puli indeksów: {{ import.indexPoolCode }}</p>
          <p>Data rozpoczęcia programu: {{ import.startDate | date: 'dd.MM.yyyy' }}</p>
          <p>Data przyjęcia na program: {{ import.dateOfAddmision | date: 'dd.MM.yyyy' }}</p>
        </mat-card-subtitle>
        <mat-card-actions>
          <button mat-button (click)="openEditorDialog()" [disabled]="isEditButtonDisabled()">
            <mat-icon>edit</mat-icon>
            Edytuj
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card appearance="outlined" class="card-centered">
        <mat-card-content *ngIf="import && rxStompService.connected()">
          <app-import-status-indicator [importStatus]="import.importStatus"></app-import-status-indicator>
          <ng-template [ngIf]="import.error">
            <p class="error-container">Błąd importu:
              <mark class="error-color">{{ import.error }}</mark>
            </p>
            <button mat-button (click)="showImportErrorDialog(import)">Pokaż błąd</button>
          </ng-template>
          <app-progress-viewer
            header="Zaimportowane zgłoszenia:"
            [value]="import.importedApplications"
            [total]="import.totalCount">
          </app-progress-viewer>
          <app-progress-viewer
            header="Zapisane zgłoszenia:"
            [value]="import.savedApplicants"
            [total]="import.totalCount"
            [errorsCount]="import.saveErrors">
          </app-progress-viewer>
          <p>Błędy przy zapisywaniu: {{ import.saveErrors }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="startImport()" [disabled]="isStartImportButtonDisabled()">
            <mat-icon>cloud_download</mat-icon>
            Importuj osoby
          </button>
          <button mat-button (click)="savePersons()" [disabled]="isSavePersonsButtonDisabled()">
            <mat-icon>save</mat-icon>
            Zapisz osoby
          </button>
          <button mat-button (click)="onArchiveClick()" [disabled]="isArchiveButtonDisabled()">
            <mat-icon>archived</mat-icon>
            Archiwizuj
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card appearance="outlined" class="card-centered">
        <mat-card-content>
          <app-progress-viewer
            header="Znalezione UIDy:"
            [value]="import.importedUids"
            [total]="import.totalCount"
            [errorsCount]="import.saveErrors">
          </app-progress-viewer>
          <app-progress-viewer
            header="Wysłane powiadomienia:"
            [value]="import.notificationsSend"
            [total]="import.totalCount"
            [errorsCount]="import.saveErrors">
          </app-progress-viewer>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onFindUidsClick()" [disabled]="isFindUidsButtonDisabled()">
            <mat-icon>search</mat-icon>
            Znajdź UIDy
          </button>
          <button mat-button (click)="onSendNotificationsClick()" [disabled]="isSendNotificationsDisabled()">
            <mat-icon>notifications_active</mat-icon>
            Wyślij powiadomienia
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card appearance="outlined" class="card-centered">
        <mat-card-content>
          Potencjalne duplikaty: <span
          [class.red_backgroud]="import.potentialDuplicates > 0">{{ import.potentialDuplicates }}</span>
        </mat-card-content>
      </mat-card>
    </header>
  </ng-template>
  <div>
    <mat-card appearance="outlined">
      <section class="checkbox-section">
        Wyświetlaj:
        <mat-checkbox class="card-centered" [checked]="displayedColumns.get('id') ?? false"
                      (change)="onColumnCheckboxChange($event, 'id')">id
        </mat-checkbox>
        <mat-checkbox class="card-centered" [checked]="displayedColumns.get('foreignId') ?? false"
                      (change)="onColumnCheckboxChange($event, 'foreignId')">obcy id
        </mat-checkbox>
        <mat-checkbox class="card-centered" [checked]="displayedColumns.get('usosId') ?? false"
                      (change)="onColumnCheckboxChange($event, 'usosId')">usos id
        </mat-checkbox>
        <mat-checkbox class="card-centered" [checked]="displayedColumns.get('uid') ?? false"
                      (change)="onColumnCheckboxChange($event, 'uid')">uid
        </mat-checkbox>
        <mat-checkbox class="card-centered" [checked]="displayedColumns.get('certificateDocumentNumber') ?? false"
                      (change)="onColumnCheckboxChange($event,
                      'certificateDocumentNumber',
                      'certificateDocumentIssueDateAndPlace',
                      'certificateDocumentIssueInstitution')">
          dokument uprawniający do podjęcia studiów
        </mat-checkbox>
        <!--        <mat-checkbox class="card-centered" [checked]="displayedColumns.get('importError')"-->
        <!--                      (change)="onColumnCheckboxChange($event, 'importError')">błąd przy importowaniu-->
        <!--        </mat-checkbox>-->
        <mat-checkbox class="card-centered" [checked]="displayedColumns.get('duplicateStatus') ?? false"
                      (change)="onColumnCheckboxChange($event, 'duplicateStatus')">potencjalny duplikat
        </mat-checkbox>
        <mat-checkbox class="card-centered" [checked]="displayedColumns.get('warnings') ?? false"
                      (change)="onColumnCheckboxChange($event, 'warnings')">Ostrzeżenia
        </mat-checkbox>
      </section>
    </mat-card>
  </div>
  <div class="mat-elevation-z2">
    <div class="loadingWrapper">
      <!--      <div class="loadingOverlay" *ngIf="dataSource.loading$ | async">-->
      <!--        <mat-spinner class="loadingSpinner"></mat-spinner>-->
      <!--      </div>-->
      <table mat-table [dataSource]="dataSource" matSort matSortActive="names"
             matSortDirection="asc" matSortDisableClear>

        <ng-container matColumnDef="lp">
          <th mat-header-cell *matHeaderCellDef>L.p.</th>
          <td mat-cell *matCellDef="let element" class="mat-cell"> {{ getElementNumber(element) }}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
          <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="foreignId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Obcy id</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">
            <a mat-button href="{{element.editUrl}}" target="_blank"
               [disabled]="!element.editUrl">{{ element.foreignId }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="usosId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> usos id</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">
            <a *ngIf="usosUrl" mat-button href="{{getPersonUsosUrl(element)}}"
               target="_blank">{{ element.applicant.usosId }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="uid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> uid</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">{{ element.applicant.uid }}</td>
        </ng-container>

        <ng-container matColumnDef="names">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko i imię/imiona</th>
          <td mat-cell
              *matCellDef="let element"
              class="mat-cell">{{ element.applicant.family }} {{ element.applicant.given }} {{ element.applicant.middle }}
          </td>
        </ng-container>

        <ng-container matColumnDef="birthDateAndPlace">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Data urodzenia Miejsce urodzenia</th>
          <td mat-cell
              *matCellDef="let element"
              class="mat-cell">{{ element.applicant.dateOfBirth | date:'dd.MM.yyyy' }} {{ element.applicant.cityOfBirth }}
          </td>
        </ng-container>

        <ng-container matColumnDef="pesel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pesel / Nr. dokumentu</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">{{ getPeselOrIdNumber(element) }}</td>
        </ng-container>

        <ng-container matColumnDef="certificateDocumentNumber">
          <th mat-header-cell *matHeaderCellDef> Dyplom</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">
            <div *ngIf="element.certificate">
              {{ element.certificate.documentNumber }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="certificateDocumentIssueDateAndPlace">
          <th mat-header-cell *matHeaderCellDef> Data wyd. Miejsce</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">
            <div *ngIf="element.certificate">
              {{ element.certificate.issueDate | date:'dd.MM.yyyy' }} {{ element.certificate.issueCity }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="certificateDocumentIssueInstitution">
          <th mat-header-cell *matHeaderCellDef> Wystawiający</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">
            <div *ngIf="element.certificate">
              {{ element.certificate.issueInstitution }}
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="indexNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nr albumu</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">
            <div *ngIf="element.applicant.assignedIndexNumber">
              <button mat-button (click)="updateIndexNumber(element)"
                      [disabled]="import?.importStatus === 'ARCHIVED'
                    || !(userService.hasRole('ROLE_IMPORT_CHANGE_INDEX') || userService.hasRole('ROLE_ADMIN'))">
                {{ element.applicant.assignedIndexNumber }}
              </button>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="applicationImportStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status importu</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">
            <div [ngSwitch]="element.importStatus">
              <div *ngSwitchCase="'NOT_IMPORTED'" matTooltip="Oczekujące">
                <mat-icon>hourglass_empty</mat-icon>
              </div>
              <div *ngSwitchCase="'IMPORTED'" matTooltip="Powodzenie">
                <mat-icon>done</mat-icon>
              </div>
              <div *ngSwitchCase="'ERROR'" matTooltip="Błąd">
                <button mat-button *ngIf="element.importError" (click)="showApplicationErrorDialog(element)">
                  <mat-icon>error</mat-icon>
                  Wyświetl błąd
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="duplicateStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Potencjalny duplikat</th>
          <td mat-cell *matCellDef="let element" class="mat-cell"
              [class.red_backgroud]="element.applicant.potentialDuplicateStatus === 'POTENTIAL_DUPLICATE'">
            <div [ngSwitch]="element.applicant.potentialDuplicateStatus">
              <div *ngSwitchCase="'NOT_CHECKED'" matTooltip="Nie sprawdzono">
                <mat-icon>help</mat-icon>
              </div>
              <div *ngSwitchCase="'OK'" matTooltip="W porządku">
                <mat-icon>done</mat-icon>
              </div>
              <div *ngSwitchCase="'POTENTIAL_DUPLICATE'" matTooltip="Potencjalny duplikat">
                <button mat-button (click)="onPotentialDuplicateClick(element)">
                  <mat-icon>priority_high</mat-icon>
                </button>
              </div>
              <div *ngSwitchCase="'CONFIRMED_NOT_DUPLICATE'" matTooltip="Potwierdzono">
                <mat-icon>done_all</mat-icon>
              </div>
            </div>
          </td>
        </ng-container>

        <!--      <ng-container matColumnDef="importError">-->
        <!--        <th mat-header-cell *matHeaderCellDef mat-sort-header> Błąd przy importowaniu</th>-->
        <!--        <td mat-cell *matCellDef="let element" class="mat-column-error"> {{element.importError}}-->
        <!--          <button mat-button *ngIf="element.importError" (click)="showApplicationErrorDialog(element)">Wyświetl błąd-->
        <!--          </button>-->
        <!--        </td>-->
        <!--      </ng-container>-->

        <ng-container matColumnDef="warnings">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ostrzeżenia</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">{{ element.warnings }}</td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Usuń</th>
          <td mat-cell *matCellDef="let element" class="mat-cell">
            <button mat-button (click)="deleteApplication(element.id)" [disabled]="isDeleteButtonDisabled(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 100]"
                     [length]="dataSource.page?.totalElements"
                     [pageSize]="dataSource.page?.size"
                     showFirstLastButtons
                     [pageIndex]="dataSource.page?.number">
      </mat-paginator>
    </div>
  </div>
</ng-template>
