table
  width: 100%

.card-centered
  margin: 10px

.card-wrapper
  padding-bottom: 10px
  display: flex
  justify-content: flex-start
  flex-wrap: wrap

.mat-column-error
  white-space: unset !important
  flex: 0 0 10% !important
  width: 10% !important
  overflow-wrap: break-word
  word-wrap: break-word

  word-break: break-word

  -ms-hyphens: auto
  -moz-hyphens: auto
  -webkit-hyphens: auto
  hyphens: auto

.error-color
  color: red

.error-container
  max-width: 450px

.mat-cell
  text-align: center
  border-right: 1px solid rgba(0, 0, 0, 0.12)

.red_backgroud
  background: red

.checkbox-section
  display: flex
  align-content: center
  align-items: center
  height: 60px



