<div class="wrapper">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field wide-field">
      <mat-label>Źródło danych</mat-label>
      <mat-select [compareWith]="datasourceCompare" formControlName="dataSource"
                  (selectionChange)="onDataSourceSelectionChange($event)">
        @for (dataSource of $availableDataSources | async; track dataSource) {
          <mat-option
            [value]="dataSource">{{ dataSource.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div formGroupName="additionalParameters">
      @for (parameter of additionalParameters(); track parameter.name) {
        <div>
          <div>
            @switch (parameter.type) {
              @case ('TEXT') {
                <mat-form-field class="form-field wide-field">
                  <mat-label>{{ parameter.name }}</mat-label>
                  <input type="text" matInput [formControlName]="parameter.name">
                </mat-form-field>
              } @case ('FILE') {
                <div>
                  <app-reactive-file-input [formControlName]="parameter.name" [accept]="parameter.accept"
                                           [templateHref]="getUrlWithBaseHref(parameter.fileTemplate)"/>
                  <!--            <a mat-button href="{{getUrlWithBaseHref(parameter.fileTemplate)}}">Pobierz szablon</a>-->
                  <!--            <input [formControlName]="parameter.name" [accept]="parameter.accept"-->
                  <!--                   (change)="onFileSelected($event, parameter.name)"-->
                  <!--                   multiple="false" type="file" class="file-input" #fileUpload>-->
                  <!--            <div class="file-upload">-->
                  <!--              <button mat-mini-fab type="button" color="primary" class="upload-btn" (click)="fileUpload.click()">-->
                  <!--                <mat-icon>attach_file</mat-icon>-->
                  <!--              </button>-->
                  <!--              Dodaj plik-->
                  <!--            </div>-->
                  <!--            {{formGroup.controls.additionalParameters.value[parameter.name]}}-->
                </div>
              } @case ('SELECTION_LIST') {
                <mat-form-field class="form-field wide-field">
                  <mat-label>{{ parameter.name }}</mat-label>
                  <mat-select [formControlName]="parameter.name">
                    @for (selectionListValue of parameter.selectionListSource; track selectionListValue) {
                      <mat-option
                        [value]="selectionListValue.value">{{ selectionListValue.name }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              }
            }
          </div>
        </div>
      }
    </div>

    <mat-form-field class="form-field wide-field">
      <mat-label>Rekrutacja</mat-label>
      <mat-select formControlName="registration"
                  [compareWith]="registrationCompare"
                  (selectionChange)="onRegistrationSelectionChange($event)"
                  [disabled]="areRegistrationLoading()">
        @for (registration of registrations; track registration) {
          <mat-option
            [value]="registration.id">[{{ registration.id }}] {{ registration.name }}
          </mat-option>
        }
      </mat-select>
      @if (areRegistrationLoading()) {
        <ng-template matPrefix><p></p>
          <mat-spinner diameter="20"/>
        </ng-template>
      }
    </mat-form-field>
    <mat-form-field class="form-field wide-field">
      <mat-label>Program</mat-label>
      <mat-select formControlName="registrationProgramme"
                  [compareWith]="registrationProgrammeCompare"
                  (selectionChange)="onRegistrationProgrammeChange($event)"
                  [disabled]="areRegistrationLoading() || areProgrammesLoading()">
        @for (registrationProgramme of registrationProgrammes; track registrationProgramme) {
          <mat-option
            [value]="registrationProgramme">[{{ registrationProgramme.usosId }}] {{ registrationProgramme.name }}
          </mat-option>
        }
      </mat-select>
      @if (areProgrammesLoading()) {
        <ng-template matPrefix><p></p>
          <mat-spinner diameter="20"/>
        </ng-template>
      }
    </mat-form-field>
    <mat-form-field class="form-field wide-field">
      <mat-label>Etap</mat-label>
      <mat-select formControlName="stage"
                  [disabled]="areRegistrationLoading() || areProgrammesLoading() || areRegistrationLoading()">
        @for (stage of stages; track stage) {
          <mat-option
            [value]="stage">{{ stage }}
          </mat-option>
        }
      </mat-select>
      @if (areStagesLoading()) {
        <ng-template matPrefix><p></p>
          <mat-spinner diameter="20"/>
        </ng-template>
      }
    </mat-form-field>
    <div class="flex-container">
      <mat-form-field class="form-field flex-form-field">
        <mat-label>Cykl dydaktyczny</mat-label>
        <input type="text" matInput formControlName="didacticCycle" [matAutocomplete]="auto">
        @if (formGroup.value.didacticCycle) {
          <button mat-button matSuffix
                  aria-label="Clear" (click)="formGroup.value.didacticCycle=''">
            <mat-icon>close</mat-icon>
          </button>
        }
        <mat-autocomplete #auto="matAutocomplete">
          @for (didacticCycle of didacticCycles; track didacticCycle) {
            <mat-option [value]="didacticCycle">
              {{ didacticCycle }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="form-field flex-form-field">
        <mat-label>Pula indeksów</mat-label>
        <mat-select formControlName="indexPoolCode" [compareWith]="indexTypeCompare">
          <mat-option>--</mat-option>
          @for (indexPool of $indexPools | async; track indexPool) {
            <mat-option
              [value]="indexPool">{{ indexPool.description }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field form-field-date">
        <mat-label>Data rozpoczęcia studiów</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"/>
        <mat-datepicker #startDatePicker/>
      </mat-form-field>
      <mat-form-field class="form-field form-field-date">
        <mat-label>Data przyjęcia na program</mat-label>
        <input matInput [matDatepicker]="dateOfAddmisionPicker" formControlName="dateOfAddmision">
        <mat-datepicker-toggle matSuffix [for]="dateOfAddmisionPicker"/>
        <mat-datepicker #dateOfAddmisionPicker/>
      </mat-form-field>
    </div>
    <button mat-button type="submit" [disabled]="!formGroup.valid || isButtonDisabled()">
      @if (this.import()?.id == null) {
        <div>
          <mat-icon>add</mat-icon>
          Utwórz
        </div>
      } @else {
      <mat-icon>edit</mat-icon>
      Aktualizuj
    }
    </button>
  </form>
</div>
