<div class="wrapper">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field wide-field">
      <mat-label>Źródło danych</mat-label>
      <mat-select formControlName="dataSource" required="true"
                  (selectionChange)="onDataSourceSelectionChange($event)">
        <mat-option
          *ngFor="let dataSource of $availableDataSourcesObservable | async"
          [value]="dataSource">{{dataSource.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div formGroupName="additionalParameters">
      <div *ngFor="let parameter of additionalParameters">
        <div [ngSwitch]="parameter.type">
          <mat-form-field *ngSwitchCase="'TEXT'" class="form-field wide-field">
            <mat-label>{{parameter.name}}</mat-label>
            <input type="text" matInput [formControlName]="parameter.name" required="true">
          </mat-form-field>
          <div *ngSwitchCase="'FILE'">
            <a mat-button href="{{getUrlWithBaseHref(parameter.fileTemplate)}}">Pobierz szablon</a>
            <input [formControlName]="parameter.name" [accept]="parameter.accept"
                   (change)="onFileSelected($event, parameter.name)"
                   multiple="false" type="file" class="file-input" #fileUpload>
            <div class="file-upload">
              <button mat-mini-fab type="button" color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
              </button>
              Dodaj plik
            </div>
            {{formGroup.controls.additionalParameters.value[parameter.name]}}
          </div>
        </div>
      </div>
    </div>

    <mat-form-field class="form-field wide-field">
      <mat-label>Rekrutacja</mat-label>
      <mat-select formControlName="registration" required="true"
                  (selectionChange)="onRegistrationSelectionChange($event)"
                  [disabled]="areRegistrationLoading">
        <mat-option
          *ngFor="let registration of registrations"
          [value]="registration.id">[{{registration.id}}] {{registration.name}}
        </mat-option>
      </mat-select>
      <ng-template matPrefix [ngIf]="areRegistrationLoading"><p></p>
        <mat-spinner diameter="20"></mat-spinner>
      </ng-template>
    </mat-form-field>
    <mat-form-field class="form-field wide-field">
      <mat-label>Program</mat-label>
      <mat-select formControlName="registrationProgramme" required="true"
                  (selectionChange)="onRegistrationProgrammeChange($event)"
                  [disabled]="areRegistrationLoading || areProgrammesLoading">
        <mat-option
          *ngFor="let registrationProgramme of registrationProgrammes"
          [value]="registrationProgramme">[{{registrationProgramme.usosId}}] {{registrationProgramme.name}}
        </mat-option>
      </mat-select>
      <ng-template matPrefix [ngIf]="areProgrammesLoading"><p></p>
        <mat-spinner diameter="20"></mat-spinner>
      </ng-template>
    </mat-form-field>
    <mat-form-field class="form-field wide-field">
      <mat-label>Etap</mat-label>
      <mat-select formControlName="stage" required="true"
                  [disabled]="areRegistrationLoading || areProgrammesLoading || areRegistrationLoading">
        <mat-option
          *ngFor="let stage of stages"
          [value]="stage">{{stage}}
        </mat-option>
      </mat-select>
      <ng-template matPrefix [ngIf]="areStagesLoading"><p></p>
        <mat-spinner diameter="20"></mat-spinner>
      </ng-template>
    </mat-form-field>
    <div class="flex-container">
      <mat-form-field class="form-field flex-form-field">
        <mat-label>Cykl dydaktyczny</mat-label>
        <input type="text" matInput formControlName="didacticCycle" [matAutocomplete]="auto" required="true">
        <button mat-button *ngIf="formGroup.value.didacticCycle" matSuffix mat-icon-button
                aria-label="Clear" (click)="formGroup.value.didacticCycle=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let didacticCycle of didacticCycles" [value]="didacticCycle">
            {{didacticCycle}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="form-field flex-form-field">
        <mat-label>Pula indeksów</mat-label>
        <mat-select formControlName="indexPoolCode" required="true">
          <mat-option
            *ngFor="let indexPool of $indexPoolsObservable | async"
            [value]="indexPool">{{indexPool.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field form-field-date">
        <mat-label>Data rozpoczęcia studiów</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" required="true">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form-field form-field-date">
        <mat-label>Data przyjęcia na program</mat-label>
        <input matInput [matDatepicker]="dateOfAddmisionPicker" formControlName="dateOfAddmision" required="true">
        <mat-datepicker-toggle matSuffix [for]="dateOfAddmisionPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateOfAddmisionPicker></mat-datepicker>
      </mat-form-field>
    </div>
    <button mat-button type="submit" [disabled]="!formGroup.valid || isButtonDisabled">
      <mat-icon>add</mat-icon>
      Utwórz
    </button>
  </form>
</div>
