.wrapper
  width: 98%
  margin: 0 auto

.form-field
  padding: 10px

.wider-field
  min-width: 600px
  padding: 10px

.wide-field
  min-width: 100%

.wide-wrapper
  width: 100%

.form-field-date
  min-width: 300px

body
  padding: 0
  margin: 0

