<form class="container" [formGroup]="filterFormGroup">
  <mat-form-field>
    <mat-label>Id importu</mat-label>
    <input type="number" matInput formControlName="importId">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Imię</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nazwisko</mat-label>
    <input matInput formControlName="surname">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Pesel / Nr. Dokumentu</mat-label>
    <input matInput formControlName="pesel">
  </mat-form-field>
</form>
<div class="mat-elevation-z2">
  <div class="loadingWrapper">
    <!--    <div class="loadingOverlay" *ngIf="dataSource.loading$ | async">-->
    <!--      <mat-spinner class="loadingSpinner"></mat-spinner>-->
    <!--    </div>-->
    <table mat-table [dataSource]="dataSource" matSort matSortActive="names"
           matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="lp">
        <th mat-header-cell *matHeaderCellDef>L.p.</th>
        <td mat-cell *matCellDef="let element" class="mat-cell"> {{ getElementNumber(element) }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let element" class="mat-cell"> {{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="foreignId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Obcy id</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">
          <a mat-button href="{{element.editUrl}}" target="_blank"
             [disabled]="!element.editUrl">{{ element.foreignId }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="importId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id importu</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">
          <a mat-button href="{{baseHref}}import/{{element.importId}}" target="_blank">{{ element.importId }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="usosId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> usos id</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">
          @if (usosUrl) {
            <a mat-button href="{{getPersonUsosUrl(element)}}"
               target="_blank">{{ element.applicant.usosId }}</a>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="uid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> uid</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">{{ element.applicant.uid }}</td>
      </ng-container>

      <ng-container matColumnDef="names">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko i imię/imiona</th>
        <td mat-cell
            *matCellDef="let element"
            class="mat-cell">{{ element.applicant.family }} {{ element.applicant.given }} {{ element.applicant.middle }}
        </td>
      </ng-container>

      <ng-container matColumnDef="birthDateAndPlace">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data urodzenia Miejsce urodzenia</th>
        <td mat-cell
            *matCellDef="let element"
            class="mat-cell">{{ element.applicant.dateOfBirth | date:'dd.MM.yyyy' }} {{ element.applicant.cityOfBirth }}
        </td>
      </ng-container>

      <ng-container matColumnDef="pesel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pesel / Nr. dokumentu</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">{{ getPeselOrIdNumber(element) }}</td>
      </ng-container>

      <ng-container matColumnDef="certificateDocumentNumber">
        <th mat-header-cell *matHeaderCellDef> Dyplom</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">
          @if (element.certificate) {
            <div>
              {{ element.certificate.documentNumber }}
            </div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="certificateDocumentIssueDateAndPlace">
        <th mat-header-cell *matHeaderCellDef> Data wyd. Miejsce</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">
          @if (element.certificate) {
            <div>
              {{ element.certificate.issueDate | date:'dd.MM.yyyy' }} {{ element.certificate.issueCity }}
            </div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="certificateDocumentIssueInstitution">
        <th mat-header-cell *matHeaderCellDef> Wystawiający</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">
          @if (element.certificate) {
            <div>
              {{ element.certificate.issueInstitution }}
            </div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="indexNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nr albumu</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">
          @if (element.applicant.assignedIndexNumber) {
            <div>{{ element.applicant.assignedIndexNumber }}</div>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="applicationImportStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status importu</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">
          <div>
            @switch (element.importStatus) {
              @case ('NOT_IMPORTED') {
                <div matTooltip="Oczekujące">
                  <mat-icon>hourglass_empty</mat-icon>
                </div>
              } @case ('IMPORTED') {
                <div matTooltip="Powodzenie">
                  <mat-icon>done</mat-icon>
                </div>
              } @case ('ERROR') {
                <div matTooltip="Błąd">
                  @if (element.importError) {
                    <button mat-button (click)="showApplicationErrorDialog(element)">
                      <mat-icon>error</mat-icon>
                      Wyświetl błąd
                    </button>
                  }
                </div>
              }
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="duplicateStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Potencjalny duplikat</th>
        <td mat-cell *matCellDef="let element" class="mat-cell"
            [class.red_backgroud]="element.applicant.potentialDuplicateStatus === 'POTENTIAL_DUPLICATE'">
          <div>
            @switch (element.applicant.potentialDuplicateStatus) {
              @case ('NOT_CHECKED') {
                <div matTooltip="Nie sprawdzono">
                  <mat-icon>help</mat-icon>
                </div>
              } @case ('OK') {
                <div matTooltip="W porządku">
                  <mat-icon>done</mat-icon>
                </div>
              } @case ('POTENTIAL_DUPLICATE') {
                <div matTooltip="Potencjalny duplikat">
                  <mat-icon>priority_high</mat-icon>
                </div>
              } @case ('CONFIRMED_NOT_DUPLICATE') {
                <div matTooltip="Potwierdzono">
                  <mat-icon>done_all</mat-icon>
                </div>
              }
            }
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="importError">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Błąd przy importowaniu</th>
        <td mat-cell *matCellDef="let element" class="mat-column-error"> {{ element.importError }}
          @if (element.importError) {
            <button mat-button (click)="showApplicationErrorDialog(element)">Wyświetl błąd
            </button>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="warnings">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ostrzeżenia</th>
        <td mat-cell *matCellDef="let element" class="mat-cell">{{ element.warnings }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 100]"
                   [length]="dataSource.page?.totalElements ?? 0"
                   [pageSize]="dataSource.page?.size ?? 0"
                   showFirstLastButtons
                   [pageIndex]="dataSource.page?.number ?? 0"/>
  </div>
</div>
