<mat-drawer-container fullscreen>
  <div class="wrapper">
    <mat-toolbar color="primary" class="mat-elevation-z5">
      <button mat-button routerLink="/"><img src="./assets/header_logo.svg" height="50" alt="Logo" class="logo"/>
        Immatrykulator 5000
      </button>
      <ng-template [ngIf]="userService.isAuthenticated">
        <button mat-stroked-button class="toolbarButton" routerLink="/import">Importy</button>
      </ng-template>
      <ng-template [ngIf]="userService.hasRole('ROLE_ADMIN')">
        <button mat-stroked-button class="toolbarButton" routerLink="/userManager">
          <mat-icon>admin_panel_settings</mat-icon>
          Zarządzaj użytkownikami
        </button>
      </ng-template>
      <span class="fill-remaining-space"></span>
      <ng-template [ngIf]="userService.isAuthenticated" [ngIfElse]="loggedOut">
        <span>{{userService.user.casAssertion.principal.attributes.givenname}} {{userService.user.casAssertion.principal.attributes.lastname}}</span>
        <a mat-stroked-button href="{{baseHref}}logout">Wyloguj</a>
      </ng-template>
      <ng-template #loggedOut>
        <a mat-stroked-button
           href="{{baseHref}}login?service={{baseHref+location.path().slice(1,location.path().length)}}">Zaloguj</a>
      </ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="push"></div>
  </div>
  <app-footer class="footer"></app-footer>
</mat-drawer-container>
