<mat-drawer-container fullscreen>
  <div class="wrapper">
    <mat-toolbar color="primary" class="mat-elevation-z5">
      <a mat-button routerLink="/"><img ngSrc="./assets/header_logo.svg" height="50" alt="Logo" class="logo"
                                        width="132"/>
        Immatrykulator 5000
      </a>
      @if (userService.isAuthenticated()) {
        <a mat-stroked-button class="toolbarButton" routerLink="/import"
           [disabled]="!userService.hasAnyRole('ROLE_IMPORT_VIEW','ROLE_ADMIN')">Importy
        </a>
      } @if (userService.isAuthenticated()) {
      <a mat-stroked-button class="toolbarButton" routerLink="/applications"
         [disabled]="!userService.hasAnyRole('ROLE_IMPORT_VIEW','ROLE_ADMIN')">Zgłoszenia rekrutacyjne
      </a>
    } @if (userService.hasRole('ROLE_ADMIN')) {
      <a mat-stroked-button class="toolbarButton" routerLink="/userManager">
        <mat-icon>admin_panel_settings</mat-icon>
        Zarządzaj użytkownikami
      </a>
    }
      <span class="fill-remaining-space"></span>
      @if (userService.isAuthenticated()) {
        @if (userService.$user | async; as user) {
          <span
            class="username">{{ user?.casAssertion?.principal?.attributes?.givenname }} {{ user?.casAssertion?.principal?.attributes?.lastname }}</span>
        }
        <a mat-stroked-button class="toolbarButton" href="{{baseHref}}logout">Wyloguj</a>
      } @else {
      <a mat-stroked-button class="toolbarButton"
         href="{{baseHref}}login?service={{getServiceUrl()}}">Zaloguj</a>
    }
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="push"></div>
  </div>
  <app-footer class="footer"></app-footer>
</mat-drawer-container>
