<mat-horizontal-stepper linear>
  <mat-step [stepControl]="selectSearchMethodFormGroup">
    <form [formGroup]="selectSearchMethodFormGroup">
      <ng-template matStepLabel>Wybierz sposób wyszukiwania</ng-template>
      <mat-form-field>
        <mat-label>Sposób wyszukiwania</mat-label>
        <mat-select formControlName="searchMethod">
          <mat-option value="pesel">
            PESEL
          </mat-option>
          <mat-option value="surname">
            Nazwisko
          </mat-option>
          <mat-option value="email">
            E-Mail
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="inputDataFormGroup">
    <form [formGroup]="inputDataFormGroup" (ngSubmit)="inputDataOnSubmit()">
      <ng-template matStepLabel>Podaj Wartość</ng-template>
      <mat-form-field>
        <mat-label>Wartość</mat-label>
        <input matInput formControlName="input">
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="applicantFromGroup">
    <ng-template matStepLabel>Wybierz aplikanta</ng-template>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię </th>
        <td mat-cell *matCellDef="let element"> {{element.name.given}} </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </th>
        <td mat-cell *matCellDef="let element"> {{element.name.family}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </mat-step>
</mat-horizontal-stepper>
